@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
  font-family: "firlest";
  src: url("./assets/fonts/firlest/firlest.otf");
}

@font-face {
  font-family: "farenheight";
  src: url("./assets/fonts/farenheight/farenheight.ttf");
}

@font-face {
  font-family: "franchise";
  src: url("./assets/fonts/franchise/franchis1.ttf");
}

@font-face {
  font-family: "HarryPotter";
  src: url("./assets/fonts/harryPotter/HarryPotter.ttf");
}

@font-face {
  font-family: "citizen";
  src: url("./assets/fonts/citizen/citizen.ttf");
}

@font-face {
  font-family: "news";
  src: url("./assets/fonts/news/news.ttf");
}
@font-face {
  font-family: "a23sec";
  src: url("./assets/fonts/23sec/23sec.ttf");
}
@font-face {
  font-family: "bastliga";
  src: url("./assets/fonts/bastliga/bastliga.otf");
}



@font-face {
  font-family: "heart";
  src: url("./assets/fonts/heart.otf");
}
@font-face {
  font-family: "hawk2";
  src: url("./assets/fonts/hawk2.ttf");
}
@font-face {
  font-family: "hawk";
  src: url("./assets/fonts/hawk.ttf");
}

@font-face {
  font-family: "banaro";
  src: url("./assets/fonts/banaro.otf");
}

@font-face {
  font-family: "angel";
  src: url("./assets/fonts/angel.otf");
}

@font-face {
  font-family: "moliga";
  src: url("./assets/fonts/moliga.otf");
}
@font-face {
  font-family: "mrblack";
  src: url("./assets/fonts/mrblack.otf");
}

@font-face {
  font-family: "forbd";
  src: url("./assets/fonts/forbd.ttf");
}


@theme {
  --font-firlest: firlest, "sans-serif";
  --font-farenheight: farenheight, "sans-serif";
  --font-HarryPotter: HarryPotter, "sans-serif";
  --font-citizen: citizen, "sans-serif";
  --font-news: news, "sans-serif";
  --font-a23sec: a23sec, "sans-serif";
  --font-bastliga: bastliga, "sans-serif";
  --font-franchise: franchise, "sans-serif";


  --font-heart: heart, "sans-serif";
  --font-hawk: hawk, "sans-serif";
  --font-hawk2: hawk2, "sans-serif";
  --font-banaro: banaro, "sans-serif";
  --font-angel: angel, "sans-serif";
  --font-moliga: moliga, "sans-serif";
  --font-mrblack: mrblack, "sans-serif";
  --font-forbd: forbd, "sans-serif";
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  .bg-after {
    position: relative;
    z-index: 5;
  }

  .bg-after::after {
    content: "";
    @apply absolute top-0 left-0 right-0 bottom-0 bg-cover bg-center;
    background-image: url("./assets/papper2.webp");
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: 103%;
  }
  .bg-after::before {
    content: "";
    @apply absolute top-0 left-0 right-0 bottom-0;
    z-index: -1;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background: #fffef0;
    width: 100%;
    height: 100%;
    background-size: 103%;
  }

  .line {
    @apply w-full bg-gray-800;
    height: 2px;
  }
}

@layer utilities {
  .flex {
    @apply justify-center items-center gap-2 leading-none;
  }
  .row-start-4 .flex {
    @apply flex-col;
  }
  /* .article > div p {
        @apply whitespace-break-spaces
      } */
}
.text-article:first-letter {
  text-transform: uppercase;
  initial-letter: 3;
/* background: lightyellow; */
border: 5px solid #000;
font-weight: bold;
/* padding: 0.3em; */
border: 0;

}
